@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive ;
    --fonte-android: 'Android',cursive;'

}

*{  /*Esse comando está zerando todas as margens e todos os paddings*/
    margin: 0px; 
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(8, 8, 8, 0.479);
    font-weight: normal;
    
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(78, 78, 78, 0.24);
    
    
    
    
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    text-align: center; 
    min-height: 150px;
    padding-top: 40px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(68, 67, 67);

}

nav > a:hover{
    background-color:  var(--cor2);
    color: var(--cor5);
}

nav > a{ 
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    transition-duration: .4s; /* Tempo de transição para carregamento*/
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto; /* Centraliza o main automaticamente*/
    margin-bottom: 30px; /* Margem de baixo*/
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(68, 67, 67);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}
main  h1{
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   font-weight: normal;
   

}

main p{
    margin:15px 0px;/* Margen da caixa <p>*/
    text-align: justify; /* Alinhamento do testo*/
    text-indent: 30px; /* Espaçamento antes de começar um novo parágrafo*/
    font-size:1em; /* Tamanho do texto*/
    line-height: 1.7em; /* Espaçãmento vertical entre as linhas*/

}

main a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    padding: 2px 6px;

}

main a:hover{
    text-decoration: underline;
    color: var(--cor2);

}
main img{
    width: 100%;
   
}
main img.pequena{
    width:350px;
    display: block;
    margin:auto;
}

div.video{
    background-color: #83e1ad;
    margin-bottom: 58%;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
background-color: var(--cor2);
padding: 10px;
border-radius: 10px;
box-shadow: 3px 3px 8px  rgba(58, 57, 57, 0.171);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-position: inside;
    columns: 2;

}

footer{
    background-color: var(--cor5);
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}